<div id="<%= dom_id airport %>">
  <p>
    <strong>International code:</strong>
    <%= airport.international_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= airport.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= airport.city %>
  </p>

</div>
