<div id="flights">
    <p style="color: green"><%= notice %></p>

    <h1>Flights</h1>


    <div id="flights-cards">
      <% @flights.each do |flight| %>
        <%= render flight %>
        <p>
          <%= link_to "Show this flight", flight %>
        </p>
      <% end %>
    </div>

    <% if current_user %>
      <%= link_to "New flight", new_flight_path %>
    <%end %>
</div>